{{- $pc := .Page.Site.Config.Privacy.YouTube -}}
{{- if not $pc.Disable -}}
    {{- $ytHost := cond $pc.PrivacyEnhanced  "www.youtube-nocookie.com" "www.youtube.com" -}}
    {{- $id := .Get "id" | default (.Get 0) -}}
    {{- $class := .Get "class" | default (.Get 1) -}}
    {{- $title := .Get "title" | default "YouTube Video" }}
    <div
        {{ with $class }}
            class="{{ . }}"
        {{ else }}
        {{ end }}
    >
        <iframe
            loading="lazy"
            src="https://{{ $ytHost }}/embed/{{ $id }}{{ with .Get "autoplay" }}
                {{ if eq . "true" }}?autoplay=1{{ end }}
            {{ end }}"
            {{ if not $class }}
                class="aspect-video"
            {{ end }}allowfullscreen
            title="{{ $title }}"
        ></iframe>
    </div>
{{ end -}}
