<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body
        id="body"
        data-barba="wrapper"
        class="overflow-x-hidden text-stone-900 bg-stone-50"
    >
        {{ partial "partials/Organism-NavbarMain.html" . }}
        <div class="lg:mt-14 lg:mb-0 mb-14">
            <div
                data-barba="container"
                data-barba-namespace="{{ replaceRE "(\\s)" "" .Title }}"
            >
                {{ block "main" . }}
                {{ end }}
            </div>

            {{ partial "partials/Organism-transitionPage.html" . }}

        </div>
        {{ partial "partials/Organism-FooterMain.html" . }}
        {{ partial "partials/Function-InlineScript.html" . }}
        {{ partial "partials/Debug.html" . }}
    </body>
</html>
