{{ define "main" }}
    <div
        style="min-height: calc(100vh - var(--navbarMainHeight) * 2 + 2rem)"
        class="grid grid-auto lg:grid-cols-2"
    >
        <div class="flex flex-col-reverse md:block">
            <!-- Article Heading -->
            <div class="flex items-center min-h-[10rem]">
                <h1 class="p-8 text-2xl md:text-3xl">
                    <div class="gsap-heading">
                        {{ .Params.titletc }}
                    </div>
                    <div class="hidden gsap-heading sm:block">
                        {{ .Title }}
                    </div>
                </h1>
            </div>

            <!-- Article Metas -->
            <div
                class="flex items-center py-0 border-t border-b lg:justify-between gsap-heading border-stone-200"
            >
                <!-- Client -->
                {{ if .Params.client }}
                    <div
                        class="px-8 py-4 pr-8 border-0 lg:border-r border-stone-200"
                    >
                        {{ .Params.client }}
                    </div>
                {{ end }}

                {{ with .Params.author }}
                    {{ range . }}
                        <div
                            class="flex items-center gap-4 px-8 pr-8 border-r border-stone-200 whitespace-nowrap"
                        >
                            <div class="flex rounded-full bg-stone-300" width="50" hieght="50">

                            
                            {{ with .image }}
                            {{ $img := . }}
                            <!-- Trim Image Extention -->
                            {{ $imgHasExtention := path.Base $img }}
                            {{ $imgNoExtention := $imgHasExtention | strings.TrimSuffix (path.Ext $imgHasExtention ) }}
                            <img
                                class="rounded-full gsap-image"
                                src="{{ $.Site.Params.cloudinaryImg }}/w_50,dpr_auto,f_auto/global/{{ $imgHasExtention }}"
                                alt="{{ $imgNoExtention }}"
                                width="50"
                                height="50"

                            />
                            {{ else }}
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 300 300"
                                    width="50"
                                >
                                    <circle
                                        cx="150"
                                        cy="150"
                                        r="150"
                                        fill="#fff"
                                    />
                                    <path
                                        d="M93.5 212.4h98.3c3 0 5.4-2.4 5.4-5.4V93.1c0-5-6.2-7.3-9.5-3.5L89.4 203.4c-3 3.5-.5 9 4.1 9z"
                                        fill="#262626"
                                    />
                                </svg>
                            {{ end }}
                        </div>
                        {{ .name }}
                        </div>
                    {{ end }}
                {{ end }}


                <div class="px-8 text-left border-l lg:text-right border-stone-200">
                    <!-- Time -->
                    {{ if .Params.date }}
                        <time>
                            {{ .Params.date.Format "2006/01" }}
                        </time>
                        <span>．</span>
                    {{ end }}

                    {{ if .Params.category }}

                        <div class="inline-block">
                            {{ if .Params.category }}
                                <a class="after:content-['-']" href="/category/{{ .Params.category }}">
                                    {{ .Params.category }}
                                </a>
                                
                            {{ end }}


                            <!-- Tag -->
                            <ul class="inline-block">
                                {{ range $i, $e := .Params.tag }}
                                    <li class="inline-block">
                                        <span class="inline-block">
                                            {{ if $i }},{{ end }}
                                        </span>

                                        <a
                                            class="inline-block p-2 capitalize first-of-type:p-0 hover:bg-glass dark:hover:bg-glass-dark whitespace-nowrap"
                                            href="{{ "project/" | relLangURL }}{{ . | urlize }}"
                                            >{{- . -}}</a
                                        >
                                    </li>
                                {{ end }}
                            </ul>
                        </div>
                    {{ end }}


                    <!-- Tag -->
                    {{ if .Params.project }}
                            {{ range $i, $e := .Params.project }}
                                    <a
                                        class=""
                                        href="{{ "project/" | relLangURL }}{{ . | urlize }}"
                                        >{{- . -}}</a
                                    >
                                </li>
                            {{ end }}
                    {{ end }}
                </div>
            </div>

            <div>
                {{ range .Params.cover }}
                    {{ $img := .src }}
                    {{ $width := .width }}
                    {{ $height := .height }}
                    {{ $remoteImg := resources.GetRemote $img }}
                    {{ $remoteImgWidth := $remoteImg.Width }}
                    {{ $remoteImgHeight := $remoteImg.Height }}

                    <img
                        class="sticky top-0 w-full gsap-image"
                        width="{{ with $width }}{{ $width }}{{ else }}{{ $remoteImgWidth }}{{end}}"
                        height="{{ with $height }}{{ $height }}{{ else }}{{ $remoteImgHeight }}{{end}}"
                        src="{{ $.Site.Params.cloudinaryImg }}/dpr_auto,f_auto,q_auto/{{ $.Section }}/{{ $.File.ContentBaseName }}/{{ path.Base $img }}"
                        srcset="
                            {{ $.Site.Params.cloudinaryImg }}/w_300,dpr_auto,f_auto,q_auto/{{ $.Section }}/{{ $.File.ContentBaseName }}/{{ path.Base $img }}   300w,
                            {{ $.Site.Params.cloudinaryImg }}/w_600,dpr_auto,f_auto,q_auto/{{ $.Section }}/{{ $.File.ContentBaseName }}/{{ path.Base $img }}   600w,
                            {{ $.Site.Params.cloudinaryImg }}/w_900,dpr_auto,f_auto,q_auto/{{ $.Section }}/{{ $.File.ContentBaseName }}/{{ path.Base $img }}   900w,
                            {{ $.Site.Params.cloudinaryImg }}/w_1200,dpr_auto,f_auto,q_auto/{{ $.Section }}/{{ $.File.ContentBaseName }}/{{ path.Base $img }} 1200w
                        "
                        sizes="(min-width: 1040px) 50vw, 100vw"
                        alt="{{ .alt }}"
                        loading="lazy"
                    />
                {{ end }}
            </div>
        </div>

        <!-- Right content -->
        <div class="pb-8 border-0 lg:border-l">
            <div class="p-8 hidden leading-relaxed border-b border-stone-200 min-h-[10rem] md:flex justify-start items-center">
                <h2 class="text-2xl leading-snug tracking-wide">
                    {{ .Params.description | safeHTML }}
                </h2>
            </div>

            <div
                class="pb-8 prose prose-stone prose-h2:top-0 lg:prose-h2:top-14 border-stone-200 max-w-none"
            >
                {{ if .Params.toc }}
                {{ .TableOfContents }}
                {{ end }}
                {{ .Content }}

            </div>

            {{ if .Params.credit }}
                <div class="p-8 leading-relaxed border-t border-stone-200">
                    <div class="mt-8">
                        {{ range .Params.credit }}
                            {{ .title }}
               
                            -
                            {{ .person }}
                            <br />
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}
