<!-- !Favicon -->
<link
    rel="icon"
    type="image/svg+xml"
    href="
    data:image/svg+xml,
    %3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 100 100'%3E%3Cstyle%3E rect %7B fill: white; %7D text%7B fill: black; %7D @media (prefers-color-scheme: dark) %7B rect %7B fill: black; %7D text %7B fill: white; %7D %7D %3C/style%3E%3Crect width='100' height='100' rx='20'%3E%3C/rect%3E%3Ctext x='47%25' y='50%25' dominant-baseline='central' text-anchor='middle' font-size='30'%3E ◢◢◢ %3C/text%3E%3C/svg%3E"
/>

<!-- !Title -->
{{ $title := newScratch }}
{{ $isTerm := false }}


<!-- Is in .Kind of Term -->
{{ if eq .Kind "term" }}
    {{ $taxonomyPrefix := print (.Title ) print ( replace (.Data.Pages) "Pages" "" ) " → " }}
    {{ $title.Add "content" $taxonomyPrefix }}
    {{ $isTerm = true }}
{{ end }}


<!-- Is in .Kind of Home -->
{{ if .IsHome }}
    {{ $title.Add "content" $.Site.Params.slogan }}
    {{ $title.Add "content" " - " }}
    {{ $title.Add "content" $.Site.Params.brandtc }}
    {{ $title.Add "content" " " }}
    {{ $title.Add "content" $.Site.Params.brand }}
    <!-- Is not in .Kind of Home -->
{{ else }}
    {{ if eq .Kind "section" }}
        {{ $title.Add "content" (.Params.titletc | humanize  ) }}
    {{ else if eq .Kind "taxonomy" }}
        {{ $title.Add "content" (.Params.titletc | plainify  ) }}
    {{ else }}
        {{ $title.Add "content" (.Params.titletc | plainify  ) }}
    {{ end }}

    {{ if not $isTerm }}
        {{ $title.Add "content" " - " }}
    {{ end }}
    {{ $title.Add "content" $.Site.Params.brand }}
{{ end }}


<!-- Title -->
<title>{{ $title.Get "content" }}</title>

<!-- Description -->
{{ $pageDescription := newScratch }}
{{ $pageDescription.Set "desc" .Site.Params.brandDescription }}

{{ if .Params.description }}
    {{ $pageDescription.Set "desc" .Params.description }}
{{ end }}
{{ if .Params.descriptiontc }}
    {{ $pageDescription.Set "desc" .Params.descriptiontc }}
{{ end }}


<meta name="description" content="{{ $pageDescription.Get "desc" }}" />

<!-- Responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Open Graph (Facebook) -->
<meta property="og:url" content="{{ $.Site.Params.brandUrl }}" />
<meta propert="og:locale" content="zh_TW" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ $title.Get `content` }}" />
<meta property="og:description" content="{{ $pageDescription.Get "desc" }}" />
<meta property="og:image:alt" content="{{ .Params.thumbnail.alt }}" />
<meta property="og:image:type" content="image/jpg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="{{ .Site.Params.brandUrlShort }}" />
<meta name="twitter:title" content="{{ $title.Get `content` }}" />
<meta name="twitter:description" content="{{ $pageDescription.Get "desc" }}" />

<!-- Meta Image -->
{{ $img := .Params.thumbnail.src }}
<meta property="og:image" content="{{ $img }}" />
<meta name="twitter:image" content="{{ $img }}" />

<!-- CSS -->
{{ $styles := resources.Get "/css/style.css" | postCSS }}
{{ if .Site.IsServer }}
    <!-- Use Tailwind CDN -->
    <!-- <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script> -->

    <!-- Purged Tailwind -->
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    <link
        rel="stylesheet"
        href="{{ $styles.RelPermalink }}"
        integrity="{{ $styles.Data.Integrity }}"
    />
{{ end }}


<!--  -->
<!-- Javascript -->
<!-- Get -->
{{ $global := resources.Match "js/global/**.js" }}
<!-- Options -->
{{ $global = $global | resources.Concat "tempGlobal.js" | resources.ExecuteAsTemplate "global.js" . }}
<!-- Build -->
{{ $global = $global | js.Build }}
<!-- If is in Production -->
{{ if hugo.IsProduction }}
    {{ $global = $global | js.Build | minify | resources.Fingerprint "sha256" }}
{{ end }}

{{ $js := $global }}    <script defer type="module" src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

<!-- Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-FS2XJ14995"
></script>
<script>
    window.dataLayer = window.dataLayer || []
    function gtag() {
        dataLayer.push(arguments)
    }
    gtag('js', new Date())

    gtag('config', 'G-FS2XJ14995')
</script>
