<h2 class="p-8 py-4 bg-stone-100">
    文章標籤
    {{ if (eq .Title "tag") }}

    {{ else }}
        (搜尋：{{ .Title }})
    {{ end }}

</h2>
<div class="p-8">
    <!-- !If tag is not empty -->
    {{ if ne (len $.Site.Taxonomies.tag) 0 }}
        <div class="-ml-2">
            <!-- Fetch current title & sectionName -->
            {{ $currentTitle := .Title | lower }}
            {{ $currentSection := .Section }}
            {{ $target := "tag" }}

            {{/* Show "All option" when --- */}}
            {{/* 1. Is NOT in tag index page */}}
            {{ if not (eq $currentSection $currentTitle) }}
                <a
                    class="relative inline-block p-4 py-1 text-2xl capitalize"
                    href="{{ print "/" $target "/" | relURL }}"
                >
                    All
                </a>
            {{ end }}

            {{/* Loop thought options */}}
            {{ range $name, $taxonomy := ($.Site.Taxonomies.tag) }}
                {{ $tagCount := len $taxonomy.Pages }}
                {{ if not (eq $name $currentTitle) }}
                    <a
                        class="relative inline-block p-4 py-1 text-2xl capitalize group"
                        href="{{ "/tag/" | relURL }}{{ $name | urlize }}"
                    >
                        {{- $name -}}
                        <sup
                            class="absolute top-0 right-0 text-sm group-focus:opacity-0"
                            >{{- $tagCount -}}</sup
                        >
                    </a>
                {{ end }}
            {{ end }}
        </div>
    {{ end }}

</div>
