<footer
    class="items-center justify-between hidden border-t lg:flex navbarMainHeight border-stone-200"
>
    <p class="inline-block ml-8 border-r scroll-px-8 border-stone-200">
        {{ .Site.Params.brand }}™ All Right Reserved
    </p>
    <ul class="flex items-center">
        <li class="">
            <a
                class="px-8 py-4 border-l border-stone-200 hover:bg-stone-100"
                href="{{ $.Site.Params.brandInstagram }}"
                >IG</a
            >
        </li>
        <li class="">
            <a
                class="px-8 py-4 border-l border-stone-200 hover:bg-stone-100"
                href="{{ $.Site.Params.brandYoutube }}"
                >YT</a
            >
        </li>
        <li class="">
            <a
                class="px-8 py-4 border-l border-stone-200 hover:bg-stone-100"
                href="{{ $.Site.Params.brandBehance }}"
                >Be</a
            >
        </li>
        <li class="">
            <a
                class="px-8 py-4 border-l border-stone-200 hover:bg-stone-100"
                href="mailto:{{ $.Site.Params.brandEmail }}"
            >
                Mail
            </a>
        </li>
    </ul>
</footer>
