<h2 class="gsap-list">
    <a class="block p-8 py-4 bg-stone-100" href="/project"> 專案列表 </a>
</h2>
<ul
    class="hidden grid-cols-5 p-8 py-4 border-t border-b border-stone-200 gsap-list sm:grid"
>
    <li class="">年份</li>
    <li class="col-span-2">專案名稱</li>
    <li class="">標籤</li>
    <li class="">客戶</li>
</ul>

{{ range  $index, $value := ((.Paginate .RegularPagesRecursive).Pages) }}
    <ul
        class="grid items-center grid-cols-5 p-8 py-4 border-b gsap-list border-stone-200 hover:bg-stone-100 transition-background"
    >
        <!-- Date -->
        <li class="hidden sm:inline-block">
            {{ .Params.Date.Format "2006" }}
        </li>

        <!-- Title -->
        <li class="col-span-2">
            <a href="{{ .Permalink }}">
                {{ .Params.titletc }}
                <br />
                {{ .Params.Title }}
            </a>
        </li>

        <!-- Tags -->
        <li>
            <ul class="hidden sm:inline-block">
                {{ range $i, $e := .Params.project }}
                    <li class="inline-block">
                        <span class="inline-block">
                            {{ if $i }},{{ end }}
                        </span>
                        <a
                            class="inline-block p-2 -m-2 capitalize hover:bg-glass dark:hover:bg-glass-dark whitespace-nowrap"
                            href="{{ "project/" | relLangURL }}{{ . | urlize }}"
                            >{{- . -}}</a
                        >
                    </li>
                {{ end }}
            </ul>
        </li>

        <li class="col-span-2 text-right sm:col-span-1 sm:text-left">
            {{ .Params.client }}
        </li>
    </ul>
{{ end }}
