<h2 class="gsap-list">
    <a class="block p-8 py-4 bg-stone-100" href="/project"> 專案列表 </a>
</h2>

<ul class="grid grid-cols-2 gap-2 md:grid-cols-2">
    {{ range  $index, $value := ((.Paginate .RegularPagesRecursive).Pages) }}
    <li class="overflow-hidden ">
        <a href="{{ .Permalink }}">
            <!-- Image -->
            {{ $img := .Params.thumbnail.src }}

            <img
                class="sticky top-0 w-full gsap-image"
                width="1200"
                height="630"
                
                src="{{ $.Site.Params.cloudinaryImg }}/dpr_auto,f_auto,q_auto/{{ $.Section }}/{{ .File.ContentBaseName }}/{{ path.Base $img }}"
                srcset="
                    {{ $.Site.Params.cloudinaryImg }}/w_300,ar_1.9,c_fill,dpr_auto,f_auto,q_auto/{{ $.Section }}/{{ .File.ContentBaseName }}/{{ path.Base $img }}   300w,
                    {{ $.Site.Params.cloudinaryImg }}/w_600,ar_1.9,c_fill,dpr_auto,f_auto,q_auto/{{ $.Section }}/{{ .File.ContentBaseName }}/{{ path.Base $img }}   600w,
                    {{ $.Site.Params.cloudinaryImg }}/w_900,ar_1.9,c_fill,dpr_auto,f_auto,q_auto/{{ $.Section }}/{{ .File.ContentBaseName }}/{{ path.Base $img }}   900w,
                    {{ $.Site.Params.cloudinaryImg }}/w_1200,ar_1.9,c_fill,dpr_auto,f_auto,q_auto/{{ $.Section }}/{{ .File.ContentBaseName }}/{{ path.Base $img }} 1200w
                "
                sizes="(min-width: 1040px) 25vw, 50vw"
                alt="{{ .Params.thumbnail.alt }}"
                loading="lazy"
            />
   

            <!-- Title -->
            <div class="px-4 mt-2 mb-4 leading-tight lg:px-0">
                {{ .Params.titletc }}
                <br />
                {{ .Params.Title }}
            </div>
                

            {{ end }}
        </a>
    </li>

</ul>
