<section
    class="relative z-10 border-0 md:border-l bg-stone-50 border-stone-200"
>
    <header>
        {{ partial "partials/Atom-sectionTitle.html" (dict "title" "文章列表") . }}
        <ul
            class="grid grid-cols-5 p-8 py-4 border-t border-b border-stone-200 gsap-list"
        >
            <li class="hidden sm:inline-block">年份</li>
            <li class="col-span-4 sm:col-span-3 xl:col-span-2">篇名</li>
            <li class="hidden text-right xl:text-left xl:inline-block">標籤</li>
            <li class="hidden sm:inline-block">作者</li>
        </ul>
    </header>
    {{ range where $.Site.RegularPages "Section" "post" }}
        <ul
            class="grid items-center grid-cols-5 p-8 py-4 border-b border-stone-200 hover:bg-stone-100 transition-background gsap-list"
        >
            <!-- Date -->
            <li class="hidden sm:inline-block">
                {{ .Params.date.Format "2006/01" }}
            </li>

            <!-- Title -->
            <li class="col-span-4 sm:col-span-3 xl:col-span-2">
                <a href="{{ .Permalink }}">
                    {{ .Params.titletc }}

                </a>
            </li>

            <!-- Tags -->
            <li class="hidden text-right xl:text-left xl:inline-block">
                <a href="{{ "category/" | relLangURL }}{{ .Params.category }}">
                    {{ .Params.category }}
                </a>

                <span>-</span>
                <ul class="hidden sm:inline-block">
                    {{ range $i, $e := .Params.tag }}
                        <li class="inline-block">
                            <span class="inline-block">
                                {{ if $i }},{{ end }}
                            </span>
                            <a
                                class="inline-block p-2 -m-2 hover:bg-glass dark:hover:bg-glass-dark whitespace-nowrap"
                                href="{{ "tag/" | relLangURL }}{{ . | urlize }}"
                                >{{- . -}}</a
                            >
                        </li>
                    {{ end }}
                </ul>
            </li>

            <!-- Author -->
            <li class="hidden sm:inline-block">
                {{ with .Params.author }}
                    {{ range . }}
                        <div class="flex items-center gap-4">
                            {{ with .image }}

                                {{ $img := . }}
                                {{ $dirFile := path.Split $img }}


                                <!-- Trim Image Extention -->
                                {{ $imgHasExtention := path.Base $img }}
                                {{ $imgNoExtention := $imgHasExtention | strings.TrimSuffix (path.Ext $imgHasExtention ) }}
                                <img
                                    class="rounded-full"
                                    src="{{ $.Site.Params.cloudinaryImg }}/w_50,dpr_auto,f_auto/global/{{ path.Base $img }}"
                                    width="50"
                                    height="50"
                                    alt="{{ $imgNoExtention }}"
                                    loading="lazy"
                                />
                            {{ else }}
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 300 300"
                                    width="50"
                                >
                                    <circle
                                        cx="150"
                                        cy="150"
                                        r="150"
                                        fill="#fff"
                                    />
                                    <path
                                        d="M93.5 212.4h98.3c3 0 5.4-2.4 5.4-5.4V93.1c0-5-6.2-7.3-9.5-3.5L89.4 203.4c-3 3.5-.5 9 4.1 9z"
                                        fill="#262626"
                                    />
                                </svg>
                            {{ end }}
                            {{ .name }}
                        </div>
                    {{ end }}
                {{ end }}
            </li>
        </ul>
    {{ end }}
</section>
