{{ define "main" }}
    <div class="grid grid-auto lg:grid-cols-2">
        <div class="border-r border-stone-200">
            <h1 class="p-8 text-2xl leading-relaxed prose">{{ .Content }}</h1>
            <div class="flex gap-12 mx-8 mb-8">
                {{ partial "partials/Atom-btn.html" (dict "content" "Youtube 頻道" "url" $.Site.Params.brandYoutube) . }}
            </div>

            <div class="">
                <!-- <img
                    class="sticky top-0 w-full"
                    src="https://dummyimage.com/300x300/a6cdbf/fff&text=Post-Show.jpg"
                    srcset="
                        https://dummyimage.com/600x600/a6cdbf/fff&text=Post-Show.jpg    600w,
                        https://dummyimage.com/800x800/a6cdbf/fff&text=Post-Show.jpg    800w,
                        https://dummyimage.com/1200x1200/a6cdbf/fff&text=Post-Show.jpg 1200w
                    "
                    alt="Hero Image"
                    sizes="(min-width: 768px) 50vw, 100vw"
                    loading="lazy"
                /> -->
            </div>
        </div>
        <div
            id="project"
            class="sticky top-0 lg:max-h-screen lg:overflow-y-auto h-max"
            style="min-height:calc(100vh - var(--navbarMainHeight)*2)"
        >
            {{ partial "partials/Organism-ListPostOption.html" . }}
            {{ partial "partials/Organism-ListPost.html" . }}
        </div>
    </div>
{{ end }}
